# 1. Python Paradigms

In [ ]:
# Question 1: Write a simple procedural code that sums numbers from 1 to 10.

In [2]:
sum=0
for i in range(1,11,1):
   sum=sum+i
print("The sum on numbers is:", sum)

The sum on numbers is: 55

In [ ]:
#Question 2: Write a function based code to find the factorial of a number

In [4]:
def factorial(n):
    if n==0:
        return 1
    return n*factorial(n-1) #recursive function
print(factorial(7))

5040

In [ ]:
#Question 3: Write an object-oriented code to create a simple class representing a Dog.

In [1]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def bark(self):
        return f"{self.name} says Woof!"

dog = Dog("Bruno", 12)
print(dog.bark())

Bruno says Woof!

In [ ]:
# Question 4: Write a generator function to yield even numbers up to 10.

In [2]:
def even_numbers():
    for num in range(1, 11):
        if num % 2 == 0:
            yield num

for even in even_numbers():
    print(even)

2
4
6
8
10

In [ ]:
# Question 5: Write a list comprehension to create a list of squares of numbers from 1 to 10.

In [3]:
squares = [num**2 for num in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# 2. Data Types of Python

In [ ]:
# Question 6: Print the data type of a variable containing a string.

In [13]:
my_string = "Hello, World!"
print(type(my_string))

<class 'str'>

In [ ]:
# Question 2: Check if a variable is an integer.

In [10]:
my_number = 10
print(isinstance(my_number, int))

True

In [ ]:
# Question 3: Create a list and print its data type.

In [11]:
my_list = [1, 2, 3, 4, 5]
print(type(my_list))

<class 'list'>

In [12]:
# Question 5: Convert a float to an integer and print its data type.
my_float = 3.14
my_int = int(my_float)
print(type(my_int))

<class 'int'>

# 3. Dictionary in Python

In [14]:
# Question 1: Create a dictionary with three key-value pairs and print it.
my_dict = {"name": "John", "age": 30, "city": "New York"}
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [15]:
# Question 2: Add a new key-value pair to the dictionary.
my_dict["age"] = 31
print(my_dict)

{'name': 'John', 'age': 31, 'city': 'New York'}

In [16]:
# Question 4: Remove a key-value pair from the dictionary.
my_dict.pop("city")
print(my_dict)

{'name': 'John', 'age': 31}

In [17]:
# Question 5: Iterate over the dictionary and print each key-value pair.
for key, value in my_dict.items():
    print(f"{key}: {value}")

name: John
age: 31

# 4. Basic String Manipulation

In [6]:
# Question 1: Concatenate two strings.
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(result)

Hello World

In [7]:
# Question 2: Convert a string to uppercase.
my_string = "hello"
print(my_string.upper())

HELLO

In [8]:
# Question 3: Find the length of a string.
my_string = "Hello, World!"
print(len(my_string))

13

In [18]:
# Question 4: Replace a substring in a string.
my_string = "Hello, World!"
print(my_string.replace("World", "Python"))

Hello, Python!

In [19]:
# Question 5: Split a string into a list of words.
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

# 5. Lists in Python

In [20]:
# Question 1: Create a list with five elements.
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [21]:
# Question 2: Append an element to the list.
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [22]:
# Question 3: Remove the second element from the list.
my_list.pop(1)
print(my_list)

[1, 3, 4, 5, 6]

In [23]:
# Question 4: Sort the list in descending order.
my_list.sort(reverse=True)
print(my_list)

[6, 5, 4, 3, 1]

In [24]:
# Question 5: Find the index of an element in the list.
index = my_list.index(4)
print(index)

2

# 6. Tuple in Python

In [26]:
# Question 1: Create a tuple with three elements.
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

In [27]:
# Question 2: Access the second element of the tuple.
print(my_tuple[1])

2

In [28]:
# Question 3: Unpack the tuple into three variables.

a, b, c = my_tuple
print(a, b, c)

1 2 3

In [29]:
# Question 4: Concatenate two tuples.
tuple1 = (1, 2)
tuple2 = (3, 4)
result = tuple1 + tuple2
print(result)

(1, 2, 3, 4)

In [30]:
# Question 5: Check if an element exists in the tuple.
print(2 in my_tuple)

True

# 7. Mutable and Immutable

In [32]:
# Question 1: Demonstrate the mutability of lists.
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)

[10, 2, 3]

In [33]:
# Question 2: Demonstrate the immutability of tuples.
my_tuple = (1, 2, 3)
# my_tuple[0] = 10  # This will raise an error
print(my_tuple)

(1, 2, 3)

In [34]:
# Question 3: Show how strings are immutable.

my_string = "hello"
# my_string[0] = "H"  # This will raise an error
new_string = "H" + my_string[1:]
print(new_string)

Hello

In [35]:
# Question 4: Demonstrate modifying a dictionary (mutable).
my_dict = {"name": "John", "age": 30}
my_dict["age"] = 31
print(my_dict)

{'name': 'John', 'age': 31}

In [36]:
# Question 5: Show that integers are immutable.
a = 5
b = a
a = 6
print(a, b)

6 5

# 8. Nested Loop Operation

In [38]:
# Question 1: Print a multiplication table using nested loops.
for i in range(1, 6):
    for j in range(1, 6):
        print(i * j, end=" ")
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [39]:
# Question 2: Flatten a nested list using nested loops.
nested_list = [[1, 2], [3, 4], [5, 6]]
flat_list = []
for sublist in nested_list:
    for item in sublist:
        flat_list.append(item)
print(flat_list)

[1, 2, 3, 4, 5, 6]

In [40]:
# Question 3: Print a pattern of stars using nested loops.
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

In [41]:
# Question 4: Transpose a matrix using nested loops.
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transpose = []
for i in range(3):
    row = []
    for j in range(3):
        row.append(matrix[j][i])
    transpose.append(row)
print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [42]:
# Question 5: Iterate through a dictionary of lists using nested loops.
dict_of_lists = {"a": [1, 2], "b": [3, 4]}
for key, value_list in dict_of_lists.items():
    for value in value_list:
        print(f"{key}: {value}")

a: 1
a: 2
b: 3
b: 4

# 9. Identity Operators

In [43]:
# Question 1: Use the is operator to check if two variables point to the same object.
a = [1, 2, 3]
b = a
print(a is b)

True

In [44]:
# Question 2: Use the is not operator to check if two variables do not point to the same object.
a = [1, 2, 3]
b = [1, 2, 3]
print(a is not b)

True

In [45]:
# Question 3: Compare two strings using the is operator.

str1 = "hello"
str2 = "hello"
print(str1 is str2)

True

In [46]:
# Using is with None:

a = None
print(a is None)

True

# 10. Membership Operator

In [47]:
#1. Check if an element is in a list:
fruits = ['apple', 'banana', 'cherry']
print('banana' in fruits)

True

In [48]:
# Check if a substring is in a string:

text = "hello world"
print('world' in text)

True

In [49]:
# 3.Check if a key is in a dictionary:
my_dict = {'a': 1, 'b': 2}
print('a' in my_dict)

True

In [50]:
# 4.Check if an element is not in a tuple:

numbers = (1, 2, 3)
print(4 not in numbers)  # True

True

In [51]:
# 5.Check membership in a set:
my_set = {1, 2, 3}
print(2 in my_set)  # True

True

# 11. Indexing

In [53]:
# 1.Access an element in a list by index:

fruits = ['apple', 'banana', 'cherry']
print(fruits[1])  # banana

banana

In [54]:
# 2.Access a character in a string by index:
text = "hello"
print(text[4])  # o

o

In [55]:
# 3.Access an element in a tuple by index:
numbers = (1, 2, 3)
print(numbers[0])

1

In [56]:
# 4.Indexing with negative numbers:
fruits = ['apple', 'banana', 'cherry']
print(fruits[-1])

cherry

In [57]:
# 5.Accessing elements in a nested list:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(matrix[1][2])

6

# 12. Slicing

In [58]:
# 1.Slice a list from start to end:
fruits = ['apple', 'banana', 'cherry', 'date']
print(fruits[1:3])

['banana', 'cherry']

In [59]:
# 2.Slice a string with step:
text = "hello world"
print(text[0:5:2])

hlo

In [60]:
# 3.Slice a list with negative indices:
fruits = ['apple', 'banana', 'cherry', 'date']
print(fruits[-3:-1])

['banana', 'cherry']

In [61]:
# 4.Slice a tuple:
numbers = (1, 2, 3, 4, 5)
print(numbers[1:4])

(2, 3, 4)

In [62]:
# 5.Slice a list to reverse it:
fruits = ['apple', 'banana', 'cherry', 'date']
print(fruits[::-1])

['date', 'cherry', 'banana', 'apple']

# 13. User Defined Functions

In [64]:
# Create a function to add two numbers:
def add(a, b):
    return a + b

print(add(2, 3))

5

In [65]:
# 2.Create a function to find the factorial of a number:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(5))

120

In [66]:
# 3.Create a function to check if a number is prime:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

print(is_prime(11))

True

In [67]:
# 4.Create a function to reverse a string:
def reverse_string(s):
    return s[::-1]

print(reverse_string("hello"))

olleh

In [68]:
# 5.Create a function to find the maximum of three numbers:
def max_of_three(a, b, c):
    return max(a, b, c)

print(max_of_three(3, 7, 5))

7

# 14. Lambda Function

In [70]:
# 1.Lambda function to add two numbers:
add = lambda x, y: x + y
print(add(2, 3))

5

In [71]:
# 2.Lambda function to find the square of a number
square = lambda x: x ** 2
print(square(4))

16

In [72]:
# 3.Lambda function to filter even numbers from a list:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6]

In [73]:
# 4.Lambda function to sort a list of tuples by the second element:
pairs = [(1, 2), (3, 1), (5, 4)]
pairs.sort(key=lambda x: x[1])
print(pairs)

[(3, 1), (1, 2), (5, 4)]

In [74]:
# 5.Lambda function to map a list to their cubes:
numbers = [1, 2, 3, 4]
cubes = list(map(lambda x: x ** 3, numbers))
print(cubes)

[1, 8, 27, 64]

# 15. Object Oriented Programming

In [75]:
# 1.Define a simple class with a method:
class Dog:
    def __init__(self, name):
        self.name = name
    
    def bark(self):
        return "Woof!"

my_dog = Dog("Buddy")
print(my_dog.bark())  # Woof!

Woof!

In [76]:
# 2.Create a class with a class variable:
class Circle:
    pi = 3.14
    
    def __init__(self, radius):
        self.radius = radius
    
    def area(self):
        return Circle.pi * self.radius ** 2

circle = Circle(5)
print(circle.area())  # 78.5

78.5

In [77]:
# 3.Create a class with inheritance:
class Animal:
    def __init__(self, name):
        self.name = name
    
    def speak(self):
        pass

class Dog(Animal):
    def speak(self):
        return "Woof!"

dog = Dog("Buddy")
print(dog.speak())  # Woof!v

Woof!

In [78]:
# 4.Create a class with private attributes:
class Person:
    def __init__(self, name, age):
        self.__name = name
        self.__age = age
    
    def get_name(self):
        return self.__name

person = Person("Alice", 30)
print(person.get_name())  # Alice

Alice

In [79]:
# 5.Create a class with a static method:

class Math:
    @staticmethod
    def add(a, b):
        return a + b

print(Math.add(5, 3))  # 8
8

8

8

In [80]:
# Single Inheritance
# Single Inheritance Example
class Animal:
    def __init__(self, name):
        self.name = name
    
    def speak(self):
        return "Animal speaks"

class Dog(Animal):
    def speak(self):
        return "Woof!"

my_dog = Dog("Buddy")
print(my_dog.speak())  # Woof!

Woof!

In [81]:
# Hierarchical Inheritance
# Hierarchical Inheritance Example:
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return "Animal speaks"

class Dog(Animal):
    def speak(self):
        return "Woof!"

class Cat(Animal):
    def speak(self):
        return "Meow!"

dog = Dog("Buddy")
cat = Cat("Whiskers")
print(dog.speak())  # Woof!
print(cat.speak())  # Meow!

Woof!
Meow!

In [82]:
# Multilevel Inheritance
# Multilevel Inheritance Example:

class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return "Animal speaks"

class Mammal(Animal):
    def walk(self):
        return "Walks on land"

class Dog(Mammal):
    def speak(self):
        return "Woof!"

my_dog = Dog("Buddy")
print(my_dog.speak())  # Woof!
print(my_dog.walk())   # Walks on land

Woof!
Walks on land

In [83]:
# Method Resolution Order (MRO)

# Method Resolution Order Example:

class A:
    def method(self):
        return "Method in A"

class B(A):
    pass

class C(A):
    def method(self):
        return "Method in C"

class D(B, C):
    pass

obj = D()
print(obj.method())  # Method in C
print(D.mro())

Method in C
[<class '__main__.D'>, <class '__main__.B'>, <class '__main__.C'>, <class '__main__.A'>, <class 'object'>]

In [85]:
# Polymorphism

class Cat:
    def speak(self):
        return "Meow!"

class Dog:
    def speak(self):
        return "Woof!"

def animal_sound(animal):
    print(animal.speak())

cat = Cat()
dog = Dog()
animal_sound(cat)  # Meow!
animal_sound(dog)  # Woof!

Meow!
Woof!

In [86]:
# Overriding in Polymorphism

class Animal:
    def __init__(self, name):
        self.name = name
    
    def speak(self):
        return "Animal speaks"

class Dog(Animal):
    def __init__(self, name):
        super().__init__(name)
    
    def speak(self):
        return "Woof!"

class Cat(Animal):
    def __init__(self, name):
        super().__init__(name)
    
    def speak(self):
        return "Meow!"

animals = [Dog("Buddy"), Cat("Whiskers")]

for animal in animals:
    print(f"{animal.name} says: {animal.speak()}")

Buddy says: Woof!
Whiskers says: Meow!